@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");

@import "./reset.css";
@import "./variables.css";

/* components */
@import "./components/home-key.css";

/* screens */
@import "./screens/home.css";
@import "./screens/drum-kit.css";
@import "./screens/classic-clock.css";
@import "./screens/css-variables.css";
@import "./screens/flex-panels.css";

body {
  font-family: "Georama", sans-serif;
  height: 100vh;
  width: 100vw;
  position: relative;
}
