.classic-clock--background {
  background: linear-gradient(#ebac78, #7449ad);
  display: flex;
  justify-content: center;
  align-items: center;
}
.classic-clock-face {
  width: 400px;
  height: 400px;
  border: solid rgba(255, 255, 255, 0.294) 10px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
}
.hand {
  position: absolute;
  right: 50%;
  transform-origin: right;
  border-radius: 20px;
  opacity: 0.5;
  transition: transform 0.2s ease-out;
}
.hour-hand {
  border: 5px solid purple;
  width: 100px;
}
.minute-hand {
  border: 5px solid rgb(211, 88, 125);
  width: 130px;
}
.second-hand {
  border: 2px solid rgb(219, 153, 122);
  width: 160px;
}
