.home--background {
  padding: 20vh 30vw;
  background-color: rgb(245, 234, 218);
}
.home-nav .nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px;
}
.home-nav .nav__btn {
  width: 45px;
  height: 45px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.1s ease-in-out;
  font-size: 35px;
}
.home-nav .nav__btn:hover {
  background-color: white;
  color: tomato;
}
.home-nav .nav__btn:active {
  transform: scale(1.5);
}
