.home_nav_background {
  padding: 20vh 30vw;
}
.home_nav_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4em;
}
.home_nav_list li {
  width: 45px;
  height: 45px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.1s ease-in-out;
}
.home_nav_list li:hover {
  background-color: white;
  color: tomato;
}
.home_nav_list li:active {
  transform: scale(1.5);
}
.home_nav_btn {
  font-size: 35px;
}
